<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/css/boilerplate.css">
    <link rel="icon" href="/img/galingpook.png">
</head>

<body>
    <%- include('../partials/flash') %>
    <%- body %>
        <script>

            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (() => {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.validated-form')

                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })()
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
            const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
        <script>
            function getId() {
                var search_id = document.querySelector('#search_id');
                var del_id = document.querySelector('#del_id');
                del_id.setAttribute("value",search_id.value);
                console.log(del_id.value);
            }
            function clearFields(){
                var textfield_list = document.querySelectorAll('.form-control');
                for(let field of textfield_list){
                    field.value = "";
                }
                var category_list = document.querySelectorAll('.form-select');
                for(let c=0;c<category_list.length;c++){
                    for(let o=0;o<category_list[c].length;o++){
                        if(category_list[c][0]){
                            category_list[c][0].selected = true;
                        }
                        else{
                            category_list[c][o].selected = false;
                        }
                    }
                }
            }
        </script>
</body>

</html>